<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class="text-center">
            <img src="/assets/logo.PNG">
          </div>
         
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="wrap-sec">
                    <div class="row">
                      <div class="col-md-4" style="width: 30%;">
                        <div *ngIf="dealer.UserPile.length < 1" class="table-placehold">
                          <span >Dealer pile cards</span>
                        </div>
                        <!-- dealer pile-->
                        <div class="myhand">
                          <div class="card-mycontainer" *ngFor="let playerCard of dealer.UserPile">
                            <div class="cardr up" [attr.data-rank]="playerCard.Rank" [attr.data-suit]="playerCard.SuitType" data-pile="tab" data-selected="false"
                              data-played="true" (click) = "selectDealerPileCard(playerCard.Value)">
                              <!-- <div [ngClass]="{'ace' :playerCard.Rank=== 'A'}" [class] = "playerCard.SuitType"> -->
                                <div [class] = "playerCard.SuitType">
                                <div class="corner top">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                                <span class="suit middle_center"></span>
                                <div class="corner bottom">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                              </div>
                            </div>
                          </div>



                        </div>
                      </div>
                      <div class="col-md-8" style="width: 70%;">
                        <div class="myhand">
                          <!-- dealer hand-->
                          <div class="card-mycontainer" *ngFor="let playerCard of dealer.UserHand">
                            <div class="cardr" data-pile="tab" data-selected="false"
                              data-played="true">
                              
                            </div>
                          </div>



                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="wrap-sec">
                    <div class="row">
                      <div class="col-md-4" style="width: 30%;">
                        <div *ngIf="player.UserBuild.Cards.length < 1" class="table-placehold">
                          <span >Player build cards</span>
                        </div>
                        <!-- PLayer build-->
                        <div class="myhand">
                          <div class="card-mycontainer" *ngFor="let playerCard of player.UserBuild.Cards">
                            <div class="cardr up" [attr.data-rank]="playerCard.Rank" [attr.data-suit]="playerCard.SuitType" data-pile="tab" data-selected="false"
                              data-played="true">
                              <!-- <div [ngClass]="{'ace' :playerCard.Rank=== 'A'}" [class] = "playerCard.SuitType"> -->
                                <div [class] = "playerCard.SuitType">
                                <div class="corner top">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                                <span class="suit middle_center"></span>
                                <div class="corner bottom">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                              </div>
                            </div>
                          </div>



                        </div>
                        <div>
                          <button *ngIf="player.UserBuild.Cards.length > 1" class="btn btn-info" (click) = "captureBuild()" [disabled] = "gameState.playerBuild || !gameState.playerCardSelected">Capture</button> &nbsp;
                        </div>
                      </div>
                      <div class="col-md-4" style="width: 30%;">
                        <!-- Table cards-->

                        <div *ngIf="tableCards.length < 1" class="table-placehold">
                          <span >Throw card here</span>
                        </div>
                        <div class="myhand">
                          <div class="card-mycontainer" *ngFor="let playerCard of tableCards" (click)="selectTableCard(playerCard.Value)">
                            <div class="cardr up" [attr.data-rank]="playerCard.Rank" [attr.data-suit]="playerCard.SuitType" data-pile="tab" data-selected="false"
                              data-played="true">
                              <!-- <div [ngClass]="{'ace' :playerCard.Rank=== 'A'}" [class] = "playerCard.SuitType"> -->
                                <div [class] = "playerCard.SuitType">
                                <div class="corner top">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                                <span class="suit middle_center"></span>
                                <div class="corner bottom">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                              </div>
                            </div>
                          </div>



                        </div>
                      </div>
                      <div class="col-md-4" style="width: 30%;">
                        <div *ngIf="dealer.UserBuild.Cards.length < 1" class="table-placehold">
                          <span >Dealer build cards</span>
                        </div>
                        <!-- dealer build-->
                        <div class="myhand">
                          <div class="card-mycontainer" *ngFor="let playerCard of dealer.UserBuild.Cards">
                            <div class="cardr up" [attr.data-rank]="playerCard.Rank" [attr.data-suit]="playerCard.SuitType" data-pile="tab" data-selected="false"
                              data-played="true">
                              <!-- <div [ngClass]="{'ace' :playerCard.Rank=== 'A'}" [class] = "playerCard.SuitType"> -->
                                <div [class] = "playerCard.SuitType">
                                <div class="corner top">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                                <span class="suit middle_center"></span>
                                <div class="corner bottom">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                              </div>
                            </div>
                          </div>



                        </div>
                        <div>
                          <button *ngIf="dealer.UserBuild.Cards.length > 0" class="btn btn-info" (click) = "stealDealerBuild()" [disabled] = "gameState.playerBuild||gameState.playerCapture  || !gameState.playerCardSelected">Steal</button> &nbsp;
                          <button *ngIf=" dealer.UserBuild.Cards.length > 0" class="btn btn-info" (click) = "captureDealerBuild()" [disabled] = "gameState.playerBuild||gameState.playerCapture || !gameState.playerCardSelected">Capture</button> &nbsp;
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="wrap-sec">
                    <div class="row">
                      <div class="col-md-4" style="width: 30%;">
                        <div *ngIf="player.UserPile.length < 1" class="table-placehold">
                          <span >Player pile cards</span>
                        </div>
                        <!-- PLayer pile-->
                        <div class="myhand">
                          <div class="card-mycontainer" *ngFor="let playerCard of player.UserPile">
                            <div class="cardr up" [attr.data-rank]="playerCard.Rank" [attr.data-suit]="playerCard.SuitType" data-pile="tab" data-selected="false"
                              data-played="true">
                              <!-- <div [ngClass]="{'ace' :playerCard.Rank=== 'A'}" [class] = "playerCard.SuitType"> -->
                                <div [class] = "playerCard.SuitType">
                                <div class="corner top">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                                <span class="suit middle_center"></span>
                                <div class="corner bottom">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                              </div>
                            </div>
                          </div>



                        </div>
                      </div>
                      <div class="col-md-8" style="width: 70%;">
                        <!-- PLayer hand-->
                       
                        <div class="myhand">
                          <div class="card-mycontainer" *ngFor="let playerCard of player.UserHand">
                            <div class="cardr up" [ngClass]="{'move-up' :moveupEffect&& playerCard.Selected}" [ngClass]="{'card-selected' :playerCard.Selected}" [attr.data-rank]="playerCard.Rank" [attr.data-suit]="playerCard.SuitType" data-pile="tab" data-selected="false"
                              data-played="true" (click) = "playerCardSelected(playerCard.Value)">
                              <!-- <div [ngClass]="{'ace' :playerCard.Rank=== 'A'}" [class] = "playerCard.SuitType"> -->
                                <div [class] = "playerCard.SuitType">
                                <div class="corner top">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                                <span class="suit middle_center"></span>
                                <div class="corner bottom">
                                  <span class="rank">{{playerCard.Rank}}</span>
                                  <!-- <span class="suit"></span> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        



                        </div>
                        <br>
                        <div>
                          <button class="btn btn-info" (click) = "throwCard()" [disabled] = "!gameState.playerCardSelected">Throw away</button> &nbsp;

                          <button class="btn btn-danger"  (click) = "build()" [disabled] = "!gameState.playerCardSelected">Build</button> &nbsp;
                          <button class="btn btn-info"  (click) = "capture()" [disabled] = "!gameState.playerCardSelected">Capture</button> &nbsp;
                          <button class="btn btn-warning" (click)="finish()" [disabled] = "!gameState.playerBuild && !gameState.playerCapture">Finish</button>
                        </div>
                       
                      </div>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
          <div class="player">
           
            <h2>
              {{ playerName === null ? "Player Name" : playerName}}
            </h2>
            <div><button class="btn btn-info" (click) = "openDialog()">change</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Build Number : {{playerNumber}}</span></div>
          </div>
        </div>

        <div class="col-md-1">
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
